:root {
    --bg-color: #f9fafb;
    --primary-color: #596D48;
    --default-color: #E5E7EB;
    --selected-color: #8ea6f0;
    --valid-color: #198754;
    --invalid-color: #ea8282;
}

@font-face {
  font-family: odin-font;
  src: url(assets/fonts/Norse-Bold.otf);
}

body {
    background-color: var(--bg-color);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    min-height: 100vh;
    margin: 0;
    display: flex;
}

/* ---------- SIDEBAR ---------- */

.sidebar {
   background: url("assets/img/halie-west-25xggax4bSA-unsplash.jpg") center / cover no-repeat;
   flex: 1;
   display: flex;
   flex-direction: column;
}

.logo {
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27%;
}

.logo img {
    width: 6rem;
    height: auto;
}

.logo h1 {
  font-family: odin-font, sans-serif;
  font-size: 6rem;
  color: white;
  margin: 2rem 0.5rem;
}

.img-credits {
    font-size: 1rem;
    color: white;
    margin-top: auto;
    text-align: center;
}

.img-credits a {
    color: white;
}

/* ---------- CONTENT ---------- */

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container {
    padding: 1rem 3rem;
}

.info-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.info-container h2 > span {
    font-style: italic;
}

.info-container h2:first-child {
    margin-bottom: 0;
}

.info-container h2:nth-child(2) {
    margin-top: 0;
}

.form-container {
    background-color: white;
    padding: 1rem 3rem 1.4rem 3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.4rem 0;
}

.form-container div {
    display: flex;
    margin: 0.4rem 5rem 0 0;
}

.form-container div > div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 0.9rem;
    text-transform: uppercase;
}

form input {
    width: 18rem;
    border: none;
    outline: 2px solid var(--default-color);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0.4rem 0;
}

form input[type="password"]:invalid {
    outline: 2px solid var(--invalid-color);
}

form input[type="password"]:valid {
    outline: 2px solid var(--valid-color);
}

form input:focus {
    outline: 2px solid var(--selected-color);
}

form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    font-size: 1rem;
    border-radius: 0.2rem;
    padding: 0.8rem 2.4rem;
    margin: 2rem 3rem 1rem 3rem;
}

form p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 3rem;
}

form p > a {
    text-decoration: none;
    color: var(--primary-color);
}
